__pycache__/
*.pyc
.DS_Store
*.swp

# Python virtualenvs (created by install.sh)
.venv/
.venv-spike/

# Test caches
.pytest_cache/

# Throwaway sim-test env (created by buddy/tests/run)
buddy/tests/env/

# Test outputs
keys.log
